In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations
from collections import Counter
import networkx as nx
import matplotlib
matplotlib.rcParams['figure.dpi'] = 120 #resolution
matplotlib.rcParams['figure.figsize'] = (8,6) #figure size
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
color = sns.color_palette()

In [3]:
csv_aisles = pd.read_csv("/content/drive/MyDrive/dataset_p4/aisles.csv")
csv_departments = pd.read_csv("/content/drive/MyDrive/dataset_p4/departments.csv")
csv_products = pd.read_csv("/content/drive/MyDrive/dataset_p4/products.csv")
csv_data = pd.read_csv("/content/drive/MyDrive/dataset_p4/merged_data.csv") # order_products__prior.csv and orders_products_train.csv merge
csv_orders = pd.read_csv("/content/drive/MyDrive/dataset_p4/orders.csv")

In [15]:
print("-------------------------------------------------------")
print("Shape of Aisles DataFrame:")
print(csv_aisles.shape)

print("-------------------------------------------------------")
print("First 5 Rows of Aisles DataFrame:")
print(csv_aisles.head())

print("-------------------------------------------------------")
print("Aisle DataFrame Info:")
csv_aisles.info()

print("-------------------------------------------------------")
print("Aisle DataFrame Description:")
print(csv_aisles.describe())

print("-------------------------------------------------------")
print("Null Values in Aisles DataFrame:")
print(csv_aisles.isnull().sum())

-------------------------------------------------------
Shape of Aisles DataFrame:
(134, 2)
-------------------------------------------------------
First 5 Rows of Aisles DataFrame:
   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation
-------------------------------------------------------
Aisle DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB
-------------------------------------------------------
Aisle DataFrame Description:
         aisle_id
count  134.000000
mean    67.500000
std     38.826537
min      1.000000
25%     34.250000
50%     67.500000
75%    100.750000
max    134.000000
-------------------------------------------------------
Null Values in Aisles DataFrame:
aisle_id    0
aisle       0
dtype: int64

In [14]:
print("-------------------------------------------------------")
print("Shape of Departments DataFrame:")
print(csv_departments.shape)

print("-------------------------------------------------------")
print("First 5 Rows of Departments DataFrame:")
print(csv_departments.head())

print("-------------------------------------------------------")
print("Department DataFrame Info:")
csv_departments.info()

print("-------------------------------------------------------")
print("Department DataFrame Description:")
print(csv_departments.describe())

print("-------------------------------------------------------")
print("Null Values in Departments DataFrame:")
print(csv_departments.isnull().sum())

-------------------------------------------------------
Shape of Departments DataFrame:
(21, 2)
-------------------------------------------------------
First 5 Rows of Departments DataFrame:
   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol
-------------------------------------------------------
Department DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 468.0+ bytes
-------------------------------------------------------
Department DataFrame Description:
       department_id
count      21.000000
mean       11.000000
std         6.204837
min         1.000000
25%         6.000000
50%        11.000000
75%        16.000000
max        21.000000
-------------------------------------------------------
Null Values in Departments DataFrame:
department_id    0
department       0
dtype: int64

In [13]:
print("-------------------------------------------------------")
print("Shape of Orders DataFrame:")
print(csv_orders.shape)

print("-------------------------------------------------------")
print("First 5 Rows of Orders DataFrame:")
print(csv_orders.head())

print("-------------------------------------------------------")
print("Orders DataFrame Info:")
csv_orders.info()

print("-------------------------------------------------------")
print("Orders DataFrame Description:")
print(csv_orders.describe())

print("-------------------------------------------------------")
print("Null Values in Orders DataFrame:")
print(csv_orders.isnull().sum())

-------------------------------------------------------
Shape of Orders DataFrame:
(3421083, 7)
-------------------------------------------------------
First 5 Rows of Orders DataFrame:
   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0
-------------------------------------------------------
Orders DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB
-------------------------------------------------------
Orders DataFrame Description:
           order_id       user_id  order_number     order_dow  \
count  3.421083e+06  3.421083e+06  3.421083e+06  3.421083e+06
mean   1.710542e+06  1.029782e+05  1.715486e+01  2.776219e+00
std    9.875817e+05  5.953372e+04  1.773316e+01  2.046829e+00
min    1.000000e+00  1.000000e+00  1.000000e+00  0.000000e+00
25%    8.552715e+05  5.139400e+04  5.000000e+00  1.000000e+00
50%    1.710542e+06  1.026890e+05  1.100000e+01  3.000000e+00
75%    2.565812e+06  1.543850e+05  2.300000e+01  5.000000e+00
max    3.421083e+06  2.062090e+05  1.000000e+02  6.000000e+00

       order_hour_of_day  days_since_prior_order
count       3.421083e+06            3.214874e+06
mean        1.345202e+01            1.111484e+01
std         4.226088e+00            9.206737e+00
min         0.000000e+00            0.000000e+00
25%         1.000000e+01            4.000000e+00
50%         1.300000e+01            7.000000e+00
75%         1.600000e+01            1.500000e+01
max         2.300000e+01            3.000000e+01
-------------------------------------------------------
Null Values in Orders DataFrame:
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [16]:
print("-------------------------------------------------------")
print("Shape of Products DataFrame:")
print(csv_products.shape)

print("-------------------------------------------------------")
print("First 5 Rows of Products DataFrame:")
print(csv_products.head())

print("-------------------------------------------------------")
print("Products DataFrame Info:")
csv_products.info()

print("-------------------------------------------------------")
print("Products DataFrame Description:")
print(csv_products.describe())

print("-------------------------------------------------------")
print("Null Values in Products DataFrame:")
print(csv_products.isnull().sum())

-------------------------------------------------------
Shape of Products DataFrame:
(49688, 4)
-------------------------------------------------------
First 5 Rows of Products DataFrame:
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13
-------------------------------------------------------
Products DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49688 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
-------------------------------------------------------
Products DataFrame Description:
         product_id      aisle_id  department_id
count  49688.000000  49688.000000   49688.000000
mean   24844.500000     67.769582      11.728687
std    14343.834425     38.316162       5.850410
min        1.000000      1.000000       1.000000
25%    12422.750000     35.000000       7.000000
50%    24844.500000     69.000000      13.000000
75%    37266.250000    100.000000      17.000000
max    49688.000000    134.000000      21.000000
-------------------------------------------------------
Null Values in Products DataFrame:
product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

In [17]:
print("-------------------------------------------------------")
print("Shape of Data DataFrame:")
print(csv_data.shape)

print("-------------------------------------------------------")
print("First 5 Rows of Data DataFrame:")
print(csv_data.head())

print("-------------------------------------------------------")
print("Data DataFrame Info:")
csv_data.info()

print("-------------------------------------------------------")
print("Data DataFrame Description:")
print(csv_data.describe())

print("-------------------------------------------------------")
print("Null Values in Data DataFrame:")
print(csv_data.isnull().sum())

-------------------------------------------------------
Shape of Data DataFrame:
(33819106, 4)
-------------------------------------------------------
First 5 Rows of Data DataFrame:
   order_id  product_id  add_to_cart_order  reordered
0         1       10246                  3          0
1         1       11109                  2          1
2         1       13176                  6          0
3         1       22035                  8          1
4         1       43633                  5          1
-------------------------------------------------------
Data DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33819106 entries, 0 to 33819105
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 1.0 GB
-------------------------------------------------------
Data DataFrame Description:
           order_id    product_id  add_to_cart_order     reordered
count  3.381911e+07  3.381911e+07       3.381911e+07  3.381911e+07
mean   1.710566e+06  2.557551e+04       8.367738e+00  5.900617e-01
std    9.874008e+05  1.409770e+04       7.139540e+00  4.918220e-01
min    1.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.554130e+05  1.351900e+04       3.000000e+00  0.000000e+00
50%    1.710660e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565587e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00
-------------------------------------------------------
Null Values in Data DataFrame:
order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64